.css-1ex1afd-MuiTableCell-root {
    border: 1px solid rgba(224, 224, 224, 1) !important;
    padding: 5px !important;
    text-align: center !important;
    font-size: 0.65rem !important;
    line-height: 2 !important;
}

.css-1ygcj2i-MuiTableCell-root {
    border: 1px solid rgba(224, 224, 224, 1) !important;
    font-size: 0.75rem !important;   
}

th {
    text-align: center !important;    
}

.css-1qtu9q6-MuiButtonBase-root-MuiButton-root {
    font-size: 0.75rem !important;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
    font-size: 0.75rem !important;
}

.css-w4z10b-MuiStack-root {
    height: 40px !important;
}

